body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: PT Serif;
}

title{
  text-align: center;
  margin-bottom: 20px;
  font-family: Titillum Web;
}

#name-n-date {
  text-align: center;
  margin-bottom: 15px;
}

#top-photo {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Big-10 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cole-field-house {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#UMD-Revenue {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  font-size: 12px;
  color: grey;
}

footer {
  font-size: 12px;
  color: grey;
  text-align: right;
  margin-bottom: 20px;
}
